.input-field {
  @include column-flex(center, start);
  min-width: 337px;
  margin-bottom: 12px;
  line-height: 1.4;

  &:last-child {
    margin-bottom: 0;
  }

  .input-container {
    position: relative;
    width: 100%;
  }

  .label {
    @include text-style(14, $gray-80);
    margin-bottom: 2px;
  }

  .input {
    @include text-style(14, $gray-60);
    width: 100%;
    height: 50px;
    padding: 0 17px;
    line-height: 50px;
    border: 2px solid $gray-20;
    border-radius: 8px;

    &:focus {
      border: 1px solid $blue-40;
    }
  }

  .btn-toggle-pw {
    @include pos-center-y;
    right: 15px;
    z-index: 1;
    width: 20px;
    height: 20px;
  }

  .error-message {
    @include text-style(12, $alert-red, 600);
    margin-top: 2px;
    margin-left: auto;
  }

  &--error {
    .input {
      border: 1px solid $alert-red;

      &:focus {
        border-color: $alert-red;
      }
    }
  }
}
