@import "@/styles/style.scss";

.tag--rounded {
  display: inline-block;
  height: 22px;
  padding: 0px 10px;
  text-align: center;
  @include text-style(12, $blue-40, 600);
  line-height: 1.6;
  border-radius: 20px;
  padding: 0px 8px;
}

// color
.tag--rounded.default {
  background-color: $blue-10;
  color: $blue-40;
}

.tag--rounded.light-purple {
  background-color: $purple-10;
  color: $purple-40;
}

.tag--rounded.dark-gray {
  background-color: $gray-20;
  color: $gray-70;
}

.tag--rounded.solid--blue {
  background-color: $white;
  color: $blue-40;
  border: 1px solid $blue-20;
}
