.form {
  position: relative;
  width: fit-content;
  &__input {
    max-width: 273px;
    padding: 10px 24px;
    line-height: 1.4;
    border: 1px solid $gray-20;
    border-radius: 20px;
    &::placeholder {
      color: $gray-50;
    }
  }
  &__button {
    position: absolute;
    right: 0;
  }
}
