.top {
  @include flex();
  @include text-style(16, false, 600);
  padding: 14px 12px 15px 24px;
  border-bottom: 1px solid $gray-30;
  text-align: center;
  line-height: 1.4;
  &__title {
    width: 695px;
  }
  &__date {
    width: 120px;
  }
  &__views {
    width: 75px;
  }
  @include tablet {
    display: none;
  }
}
