.select {
  @include text-style(14, $black);
  position: relative;
  width: 100%;
  padding: 13px 17px;
  border: 2px solid $gray-20;
  border-radius: 8px;
  line-height: 1.4;
  background-color: $white;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &-wrapper {
    @include column-flex(center, start);
    position: relative;
    max-width: 337px;
    width: 100%;
    margin-bottom: 12px;
    line-height: 1.4;

    &:last-child {
      margin-bottom: 0;
    }

    &--full {
      max-width: 100%;
    }

    .option {
      position: absolute;
      left: 0;
      top: calc(100% + 10px);
      z-index: 1;
      width: 100%;
      padding: 16px;
      border-radius: 8px;
      background-color: $white;
      box-shadow: $box-shadow;

      &__item {
        @include text-style(14);
        margin-bottom: 9px;
        cursor: pointer;

        &:last-child {
          margin-bottom: 0;
        }

        &:hover {
          color: $blue-40;
        }
      }
    }
  }

  svg {
    @include pos-center-y;
    right: 17px;
  }
}
