name: PushGitlab

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Push To Gitlab
        env:
          token: ${{ secrets.GITLAB_ACCESS_TOKEN }}
        run: |
          echo Starting to push repo to gitlab
          git config user.name "Heejun Byeon"
          git config user.email "hejuby@gmail.com"
          git remote set-url origin "https://oauth2:${token}@gitlab.com/goodlaw.co.kr/dain_review_fastcampus_group6_new.git"
          git checkout -b frontend
          git push origin frontend
